.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff6dc;
}

.question-header {
  background: #fff6dc;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-toggle {
  background-color: #fff6dc;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
}

.questions-line {
  display: flex;
  flex-direction: column; /* 수정된 부분 */
  justify-content: center;
  align-items: center; /* 추가된 부분 */
  width: 100%;
  margin-bottom: 20px;
}

.next-question-button {
  font-family: "Gamja Flower", sans-serif;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.next-question-button:hover {
  background-color: #218838;
}

.check-questions {
  font-size: 30px;
  width: 100%;
}

.check-questions form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-left: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.submit-button {
  font-family: "Gamja Flower", sans-serif;
  background-color: #ad22fdb6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #7a02c0;
}

.question-success {
  font-size: 18px;
  color: #28a745;
  margin-top: 20px;
}

.question-failure {
  font-size: 18px;
  color: #dc3545;
  margin-top: 20px;
}

.questions-kind {
  font-family: "Gamja Flower", sans-serif;
}

.start-text{
  width: 100%;
  font-size: 30px;
}