.learning-settings-container {
  margin-top: 45%;
  background-color: #fff6dc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid black;
  margin-left: 15%;
  width: 500px;
  height: 460px;
}

.learning-settings-container h2 {
  color: black;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
  margin-bottom: 80px;
}

.words {
  text-align: left;
  margin-left: 12%;
}

.words span {
  font-weight: bold;
}

.words div {
  margin-bottom: 10px;
  /* 원하는 간격으로 조정 */
}

.learning-words {
  margin-bottom: 20;
}