/* .container {
  display: flex;
  flex-direction: column;
} */

/* 프로필 정보 가운데 정렬 및 스타일 */
.settings-profile {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f9f9f9; /* 약간의 배경색 추가 */
  border-radius: 10px; /* 모서리를 둥글게 */
  width: 80%;
  max-width: 600px;
}

.settings-profile h2 {
  font-size: 28px; /* 큰 글자 크기 */
  margin-bottom: 20px; /* 여백 추가 */
}

.settings-profile-info {
  text-align: left;
}

.settings-user-info {
  font-weight: bold; /* 글자 두껍게 */
}

.logout-button:hover {
  background-color: #c82333;
}

