/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
} */

.user-profile {
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  align-items: center; 
  width: 300px;
}

.profile-info p {
  margin: 5px 0;
  text-align: left;
}

.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.logout-button:hover {
  background-color: #c82333;
}

