* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Gamja Flower", sans-serif;
  background-color: #fff6dc;
  overflow: hidden; 
  overflow-y: scroll;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  background-color: #fff6dc;
}

nav {
  background-color: #fff6dc;
  color: #000000;
  padding: 1rem;
  min-height: 100vh;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

nav li {
  margin: 4rem 0;
  text-align: left; /* 왼쪽 정렬로 수정 */
  margin-left: 13%;
}

nav a {
  display: flex;
  align-items: center; /* 아이콘과 텍스트 수직 정렬 */
  color: #000000;
  text-decoration: none;
  font-size: 30px;
}

.logo-link:hover {
  background-color: transparent; 
}

main {
  font-family: "Gamja Flower", sans-serif;
  flex: 1;
  background-color: #fff6dc;
  padding-top: -2rem;
}

.sidebar {
  background-color: #fff6dc;
  color: #000000;
  padding: 1rem;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #c2c2c2;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.sidebar a:hover {
  transform: scale(1.1); /* 버튼을 10% 확대 */
  cursor: pointer;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-toggle a {
  text-decoration: none;
  color: black;
  margin-left: 3%;
}

.main-blur {
  filter: blur(5px);
}

.sidebar nav ul li {
  display: block;
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
}

.menu-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

